body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
    transition: background-color 0.3s, color 0.3s;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #343a40;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

button {
    transition: background-color 0.3s, color 0.3s;
}

input, select {
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode table th, .dark-mode table td {
    background-color: #1e1e1e;
    color: white;
    border-color: #2c2c2c;
}

.dark-mode .btn {
    background-color: #444;
    color: white;
}

.dark-mode input, .dark-mode select {
    background-color: #2c2c2c;
    color: white;
    border: 1px solid #444;
}
